<!--
#출력 구문
    <%= "Hello World!" %>
    <%= "Hello" , "World!" %>
    <%= 3 - 1 %>
#제어흐름
    <% if (true) { %>
        <div>hello</div>
    <% } %>

    <% for (let i=0; i<10; i++) { %>
        <div><%= i %></div>
    <% } %>
-->

<%- include( 'include/_header' )%>

<%- include( 'include/_footer' )%>